

@media only screen and (max-width : 500px) {
    .sign-up-class{
        width: 100%;
    }
}
@media only screen and (max-width : 600px) {
    .sign-up-class{
        width: 80%;
    }
}
@media only screen and (max-width : 850px) {
    .sign-up-class{
        width: 70%;
    }
}
@media only screen and (min-width : 850px) {
    .sign-up-class{
        width: 40%;
    }
}

#sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.information{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.information label{
    font-size: 18px;
    color: var(--black);
    font-family: 'Noto Serif', serif;
}
.information input{
    border-radius: 10px;
    border: none;
    font-weight: bold;
    padding: 10px;
    background-color: aliceblue;  
}
.sign-up-footer{
    margin-top: 10px;
}
.sign-up-footer p a{
    color: rgb(36, 159, 207);
    font-size: larger;
}
.sign-up-footer p{
    font-family: 'Josefin Sans', sans-serif;
    color: var(--black);
}
.sign-up-footer p a:hover{
    text-decoration: underline;
}