

.admin-login{
    text-align: center;
    padding-top: 50px;
}
.admin-login i{
    font-size: 30px;
}
.admin-login input{
    margin-top: 10px;
    height: 30px ;
    padding: 5px 10px;
    border: none;
    margin-left: 10px;
}
.admin-login article{
    margin-top: 15px;
}