@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width : 600px) {
    .container_admin{
        width: 100%;
    }
     input[type="search"]{
        width: 90%;
    }
}
@media only screen and (min-width : 700px) {
    .container_admin{
        width: 80%;
    }
    input[type="search"]{
        width: 60%;
    }
}

a{
    text-decoration: none;
    color: black;    
}
body{
    background-color: #eee;
}
/*main_header*/
.main_header{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   padding: 15px 20px;
   justify-content: space-between;
   gap: 15px;
}
.profile_admin{
    font-size: 20px;
    font-weight: bold;
}
.admin_name{
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Josefin Sans', sans-serif;
}
.admin_name:hover{
    color: darkblue;
    text-decoration: underline;
}
.main_header h1{
    font-family: 'Playfair Display', serif;
    transition: all 0.3s ease-in-out;
}
.main_header h1:hover{
    color: rgb(100, 212, 100);
}
.btn_login{
    cursor: pointer;
    padding: 7px;
    border: none;
    border-radius: 7px;
    transition:  background-color 0.4s;
    background-color: white;
}
.btn_login:hover{
    background-color: darkblue;
    color: white;
}

/*------------------------------------------------------*/
/*container_admin*/
.container_admin{
    margin: 0 auto;
}

/*header*/
.header_admin{
    text-align: right;
}
.header_admin a{
  margin-right: 10px;
  font-size: 30px;
  opacity: 0.7;
  font-family: 'Josefin Sans', sans-serif;
  transition: all 0.3s;
}
.header_admin a:hover{
   color: darkblue;
} 
.header_admin a:active{
   color: rgb(167, 59, 59);
} 


/*main_admin*/
.main_admin{
  padding: 30px;
}
/*search_htmlForQ*/
.search_htmlForQ{
    margin: 10px 0;
}
input[type="search"]{
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px; 
    margin: 5px 0 0 2px;
}
.search-label{
    margin-left: 20px;
}
/*question_block*/
.question_block{
  background-color: white;
  padding: 15px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition:all 0.2s;
}
.question_block:hover{
    box-shadow: 0px 2px 1px 1px rgb(168, 168, 232);
}
.question_content h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}
.question_content article{
    margin: 3px 0;
}
.question_content article input{
    margin-right: 5px;
}
.question_content article label,.search-label{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
.question_content article label{
    margin-right: 10px;
}

/*controller*/
.controller{
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
    transition:all 0.3s;
}
.controller-icon:hover{
  color: darkblue;
  cursor: pointer;
}
/*------------------------------------------------------*/